body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page {
  height: 100vh;
  background: #0c0c0c;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: #fff;
  font-size: 2.5rem;
}

#loginPage {
  display: flex;
}

#loginNameInput {
  border: 2px solid #286e30;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  max-width: 400px;
}

#chatPage {
  display: none;
}

.chatArea {
  flex: 1;
  width: 90%;
  display: flex;
  background: #ccc;
}
.chatList {
  flex: 1;
  background: #fff;
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
}

.chatList li {
  padding: 3px;
  font-size: 1rem;
}

.chatList li.m-status {
  color: #333;
  font-style: italic;
}
.chatList li.m-txt {
  padding: 10px;
  background-color: #ccc;
  margin: 5px;
  border-radius: 7px;
}
.chatList li.m-txt span {
  font-weight: bold;
  color: #286e30;
}
.chatList li.m-txt span.me {
  font-weight: bold;
  color: red;
}
.userList {
  width: 200px;
  background: #ccc;
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
}

.userList li {
  padding: 5px;
  font-size: 1.4rem;
}

.chatInput {
  width: 90%;
  display: flex;
  border-top: 2px solid #ccc;
}
#chatTextInput {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  outline: 0;
  border: 0;
  background: #efefef;
}

.btn-leave {
  background: #ff0000;
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
